<div class="col-md-12">
	<h2>{{title}}</h2>

	<div class="alert alert-success" *ngIf="status == 'success'">
		El registro se ha completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		El registro no se ha completado correctamente!!
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">

		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label for="lastname">Apellidos</label>
			<input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" required />
			<span *ngIf="!lastname.valid && lastname.touched">
				Los apellidos son obligatorios
			</span>
		</p>

		<p>
			<label for="username">Username</label>
			<input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control" required />
			<span *ngIf="!username.valid && username.touched">
				Los apellidos son obligatorios
			</span>
		</p>

		<p>
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio
			</span>
		</p>

		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">
				El password es obligatorio
			</span>
		</p>

		<input type="submit" value="Registrarme" class="btn btn-success" />
	</form>

</div>