<div class="col-md-12" *ngIf="order">
	<h1>{{order.title}}</h1>
	<p><strong *ngIf="order.status == 'true'">Este vehiculo está a la venta</strong></p>
	<p>
		{{order.price}} € 
	</p>
	<p>
		{{order.description}}
	</p>
</div>