<!--CABECERA-->
<header id="header">
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">
       RestAu
    </a>
  </div>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['']">Inicio</a>
      </li>
      <li *ngIf="identity">
        <a [routerLink]="['crear-orden']">Nueva Orden</a>
      </li>
      <li *ngIf="identity">
        <a [routerLink]="['crear-orden']">Mis Ordenes</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
      <li>
        <a [routerLink]="['login']">Identificate</a>
      </li>
      <li>
        <a [routerLink]="['registro']">Registro</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="identity">
      <li>
        <a href="#">{{identity.name + ' ' + identity.lastname}}</a>
      </li>
      <li>
        <a [routerLink]="['logout', 1]">
          <span class="glyphicon glyphicon-log-out"></span>
          Salir
        </a>
      </li>
    </ul>

  </div>

</div>
</header>

<!--CONTENIDO-->
<router-outlet></router-outlet>