<div class="col-md-12">
	<h2>{{title}}</h2>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Te has identificado correctamente !!
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No te has identificado !!
	</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">

		<p>
			<label for="username">Username</label>
			<input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required class="form-control"/>
			<span *ngIf="!username.valid && username.touched">
				El username no es válido
			</span>
		</p>

		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control"/>
			<span *ngIf="!password.valid && password.touched">
				La contraseña no es valida
			</span>
		</p>

		<input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.form.valid" />
	</form>
</div>