<div class="col-md-12" *ngIf="page_title">
	<h2>{{page_title}}</h2>

	<div class="alert alert-success" *ngIf="status_order == 'success'">
		El coche se ha guardado correctamente!!
	</div>

	<div class="alert alert-danger" *ngIf="status_order == 'error'">
		El coche no se ha guardado correctamente, intentalo de nuevo!!
	</div>

	<form #orderNew="ngForm" (ngSubmit)="onSubmit(orderNew)" class="col-md-5">
		<p>
			<label for="title">Titulo</label>
			<input type="text" name="title" #title="ngModel" [(ngModel)]="order.title" class="form-control" required />
			<span *ngIf="!title.valid && title.touched">
				El titulo no es válido!!
			</span>
		</p>

		<p>
			<label for="description">Descripción</label>
			<textarea name="description" #description="ngModel" [(ngModel)]="order.description" class="form-control" required></textarea>
			<span *ngIf="!description.valid && description.touched">
				La descripción no es válida!!
			</span>
		</p>

		<p>
			<label for="price">Precio</label>
			<input type="number" name="price" #price="ngModel" [(ngModel)]="order.price" class="form-control"required />
			<span *ngIf="!price.valid && price.touched">
				El precio no es válido!!
			</span>
		</p>

		<p>
			<label for="status">¿A la venta?</label>
			<select class="form-control" name="status" #status="ngModel" [(ngModel)]="order.status" required>
				<option value="true" selected="selected">Si</option>
				<option value="false">No</option>
			</select>
		</p>

		<!--boton-->
		<input type="submit" value="Guardar" class="btn btn-success" [disabled]="!orderNew.form.valid"/>
	</form>

</div>
